@import '../../../core/theming/trilogy.theme.scss';
.flex {
  display: flex;
  justify-content: space-between;

  .selects {
    display: flex;
    gap: 1.5rem;

    label {
      margin-right: 0.5rem;
    }
  }

  .match-sens {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    span {
      font-weight: bold;
    }
  }

  .width-20vw {
    width: 20vw;
  }
  .width-45vw {
    width: 45vw;
  }
}

.content {
  display: flex;
  gap: 1.5rem;

  .card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    max-width: calc(50% - 1.5rem);
    padding: 1.5rem;
    max-height: 75vh;
    display: block;

    .gray-20 {
      background: mat-color($trilogy-primary, 0.2);
    }
    .gray-40 {
      background: mat-color($trilogy-primary, 0.4);
    }

    h1 {
      background-color: #efeff1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: space-between;
      margin: -1.5rem -1.5rem 1rem;
      padding: 0.5rem 1rem;

      span {
        font-weight: 300;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

table {
  border-collapse: collapse;

  th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: left;
    padding-right: 3vw;
    padding-bottom: 0.5vw;
  }
  td {
    border-bottom: 0.7em solid white;
    text-align: left;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.tableFixHead {
  overflow-y: auto;
  display: block;
  max-height: 65vh;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: white;
}

.centering {
  transform: translateY(50%);
}

.pending {
  font-weight: 700;
  font-size: 24px;
}

::ng-deep {
  .mat-slider-horizontal {
    width: 70%;
  }
  .mat-accent .mat-slider-track-fill {
    background-color: gray !important;
  }
  .mat-slider-thumb-label {
    background-color: gray !important;
  }
  .mat-slider-thumb {
    background-color: gray !important;
  }
  .mat-form-field-infix {
    padding: 0;
    border: 0 !important;
  }
  .mat-form-field-wrapper {
    padding: 0;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.5em 0.25em !important;
  }
  .mat-form-field-flex {
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    padding: 0 !important;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-option {
    height: 40px !important;
  }
}
