<ng-template #subHeader>
  <div class="flex">
    <div class="selects">
      <mat-form-field appearance="fill">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon> supervised_user_circle </mat-icon>
          <mat-select
            placeholder="Agent"
            (selectionChange)="agents.setActiveAgent($event.value)"
            id="agent"
            name="agent"
          >
            <mat-option *ngFor="let agent of agents.agents$ | async" [value]="agent.id">
              {{ agent.fullName }}</mat-option
            >
          </mat-select>
        </div>
      </mat-form-field>

      <mat-form-field class="width-20vw" appearance="fill">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon> call </mat-icon>
          <mat-select placeholder="Call" (selectionChange)="selectCall($event.value)" id="call" name="call">
            <mat-option *ngFor="let call of _calls.activeAgentCalls$ | async" [value]="call.id">
              {{ call.startTime | date: 'M/dd/YYYY' }} - {{ call.customer?.speakerName }}</mat-option
            >
          </mat-select>
        </div>
      </mat-form-field>
    </div>

    <div *ngIf="_calls.tableControl$ | async" class="match-sens width-45vw">
      MATCHING SENSITIVITY
      <mat-slider (change)="_calls.setMatchingPercentage(percentage)" max="100" min="1" [(ngModel)]="percentage">
      </mat-slider>
      <span>{{ _calls.matchingPercentage$ | async }}%</span>
    </div>
  </div>
</ng-template>

<section *ngIf="_calls.tableControl$ | async" class="content">
  <mat-card class="card">
    <h1>
      Real
      <span>Alignment to the expected script: {{ percentageScriptInLines | percent }}</span>
    </h1>
    <div class="tableFixHead">
      <table width="100%">
        <thead>
          <th>Time</th>
          <th>Speaker</th>
          <th>Sentence</th>
        </thead>
        <tbody>
          <tr *ngFor="let transcriptLine of dataSource">
            <td>{{ transcriptLine.time }}</td>
            <td>{{ transcriptLine.speaker.split(' ')[0] }}</td>
            <td
              *ngIf="_calls.matchingPercentage$ | async as matchingPercentage"
              (mouseenter)="hoverManagement(true, transcriptLine); hoverState = true"
              (mouseleave)="hoverManagement(false, transcriptLine); hoverState = false"
              [class.gray-20]="transcriptLine.covered && transcriptLine.similarity >= matchingPercentage / 100"
              [class.gray-40]="
                transcriptLine.covered && hoverState && transcriptLine.matchingSentence === transcriptSentence
              "
              [matTooltipDisabled]="!transcriptLine.matchingLine"
              matTooltip="{{ transcriptLine.similarity | percent }} matching with line #{{
                transcriptLine.matchingLine
              }} ' {{ transcriptLine.matchingSentence }} '"
            >
              {{ transcriptLine.sentence }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
  <mat-card class="card">
    <h1>
      Expected
      <span>Percent of script covered: {{ percentageScriptCovered | percent }}</span>
    </h1>
    <div class="tableFixHead">
      <table width="100%">
        <thead>
          <th>Line</th>
          <th>Speaker</th>
          <th>Sentence</th>
        </thead>
        <tbody>
          <tr *ngFor="let script of transcript?.script">
            <td>{{ script.order + 1 }}</td>
            <td>Rep:</td>
            <td [class.gray-20]="script.covered" [class.gray-40]="hoverState && script.sentence === transcriptSentence">
              {{ script.sentence }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</section>

<div
  class="centering"
  *ngIf="!(_calls.tableControl$ | async)"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <img src="../../../../assets/img/selection-pending.svg" alt="Selection Pending" />
  <div class="pending">Selection pending</div>
  <div>Select a call from top menu and a transcript</div>
  <div>analysis will be shown here</div>
</div>
